[global]
env = PROD
gateio_api_key = WsXYjU5ZWRmODI2ZjUxZTExNmE1YTk5YmY1ZmUwZmFkODY=OkN
gateio_api_secret = EdCOTc5OTY0NTUzNjFhZmU5ZTE2NTJhZTgyNWI3MWI0MWU3YzVmZWQyZTIxNmZhNmE0Nzg5NmVlZjgxMWM2OWRmOQ==IjB
huobipro_api_key = ******
huobipro_api_secret = ******

[grid]
platform = gateio
token = eos
start_value = 50.0
lowest = 2.8
highest = 3.8
parts = 20
timespan = 15

[save]
timespan = 1800