[global]
env = PROD
gateio_api_key = WsXYjU5ZWRmODI2ZjUxZTExNmE1YTk5YmY1ZmUwZmFkODY=OkN
gateio_api_secret = EdCOTc5OTY0NTUzNjFhZmU5ZTE2NTJhZTgyNWI3MWI0MWU3YzVmZWQyZTIxNmZhNmE0Nzg5NmVlZjgxMWM2OWRmOQ==IjB
huobipro_api_key = ******
huobipro_api_secret = ******

[grid]
platform = gateio
token = eos
start_value = 49.0
lowest = 3.0
highest = 3.9
parts = 10
timespan = 5

[save]
timespan = 1800